// АКЦИИ
section#actions.container.article--body.hyphenation
	|[[DocLister?
	|	&parents=`15`
	|	&display=`0`
	|	&tvPrefix=``
	|	&tvList=`imageSoc, news_date, view_countdown, position_countdown, days_countdown`
	|	&tvPrefix=``
	|	&orderBy=`news_date DESC`
	|	&sortBy=`news_date`
	|	&sortDir=`DESC`
	|	&tvSortType=`TVDATETIME`
	|	&urlScheme=`full`
	|	&tpl=`@FILE:projectsoft/html/tpl/actions_item`
	|	&prepare=`\ProjectSoft\PrepareDLCeiling72::prepareActionsHome`
	|	&ownerTPL=`@FILE:projectsoft/html/tpl/actions_wrap`
	|	&noneWrapOuter=`0`
	|	&noneTPL=`@CODE:<span></span>`
	|]]
