.hidden
	#orgAddress(data-point="57.104687, 65.602377")
		|г. Тюмень, ул. Моторостроителей, 14/1, офис 102.[(orgAddress)][(orgPoint)]
	#orgPhones
		|8(908) 874-30-43
		br
		|8(345) 242-88-76[(orgPhones)]
	#orgEmail
		|vip-potolok72@mail.ru[(orgEmail)]
script(type="text/javascript" src="[(site_url)]assets/templates/projectsoft/js/app.min.js?" + hash)
script(type="text/javascript" src="[(site_url)]assets/templates/projectsoft/js/main.min.js?" + hash)
|
|{{YandexMetrica}}
