.hidden
	#orgAddress(data-point="57.104687, 65.602377")
		|г. Тюмень, ул. Моторостроителей, 14/1, офис 102.[(orgAddress)][(orgPoint)]
	#orgPhones
		|8(908) 874-30-43
		br
		|8(345) 242-88-76[(orgPhones)]
	#orgEmail
		|vip-potolok72@mail.ru[(orgEmail)]
script(type="text/template" id="coundownTemplate")
	|<div class="time <%= label %>">
	| 	<span class="count curr top"><%= curr %></span>
	| 	<span class="count next top"><%= next %></span>
	| 	<span class="count next bottom"><%= next %></span>
	| 	<span class="count curr bottom"><%= curr %></span>
	|	<span class="label"><%= label_ru.length < 7 ? label_ru : label_ru.substr(0, 3)  %></span>
	|</div>
script(type="text/javascript" src="[(site_url)]assets/templates/projectsoft/js/app.min.js?" + hash)
script(type="text/javascript" src="[(site_url)]assets/templates/projectsoft/js/main.min.js?" + hash)
|
|{{YandexMetrica}}
