.scrollup
	i.icon-icon06
.hidden
	#orgAddress(data-point="[(ymap_point)]")
		|[(orgAddress)]
	#orgPhones
		|[[GetPhonesContent? &css_class=`block`]]
	#orgEmail
		|[(orgEmail)]
script(type="text/template" id="coundownTemplate")
	|<div class="time <%= label %>">
	| 	<span class="count curr top"><%= curr %></span>
	| 	<span class="count next top"><%= next %></span>
	| 	<span class="count next bottom"><%= next %></span>
	| 	<span class="count curr bottom"><%= curr %></span>
	|	<span class="label"><%= label_ru.length < 7 ? label_ru : label_ru.substr(0, 3)  %></span>
	|</div>
script(type="text/javascript" src="[(site_url)]assets/templates/projectsoft/js/app.min.js?" + hash)
script
	|window.pages = ![!InErrorPage!];
script(type="text/javascript" src="[(site_url)]assets/templates/projectsoft/js/main.min.js?" + hash)
