.calculator.row
	.formcalc#calculator
		span.loading
		.messages--wrap.text-center.container-full
			.messages.inline-block
				|[+form.messages+]
		form.calculator--wrap#form_calc(method="post")
			input(type="hidden" name="formid" value="calc")
			input(type="hidden" value="[+url.value+]" name="url")
			input(type="hidden" value="[+message.value+]" name="message")
			.calc
				.form-group.form-field
					input.form-control(type="number" name="area" min="0" max="10000" step="1" placeholder="0" autocomplete="off" required)
					label
						span Площадь помещения (кв. м.)
				.form-group.form-field
					input.form-control(type="number" name="lustr" min="0" max="1000" step="1" placeholder="0" autocomplete="off")
					label
						span Кол-во люстр (шт.)
				.form-group.form-field
					input.form-control(type="number" name="svet" min="0" max="1000" step="1" placeholder="0" autocomplete="off")
					label
						span Кол-во светильников (шт.)
				.form-group.form-field
					input.form-control(type="number" name="carn" min="0" max="40000" step="1" placeholder="0" autocomplete="off")
					label
						span Потолочный карниз для штор (м.)
				.form-group.form-field
					input.form-control(type="number" name="zagl" min="0" max="40000" step="1" placeholder="0" autocomplete="off")
					label
						span Заглушка вместо плинтуса по периметру (м.)
			.calc.flex
				.form-group.form-field
					input.form-control(type="text" placeholder="Тема" name="theme" value="Расчёт потолка" autocomplete="off")
					label
						span Тема
				.form-group.form-field
					input.form-control(type="text" placeholder="Фамилия" name="last_name" value="[+last_name.value+]" autocomplete="off")
					label
						span Фамилия
				.form-group.form-field
					input.form-control(type="text" name="first_name" placeholder="Имя" value="[+first_name.value+]" autocomplete="off" required)
					label
						span Имя
				.form-group.form-field
					input.form-control(type="text" name="phone" placeholder="Телефон" value="[+phone.value+]" autocomplete="off" required)
					label
						span Телефон
				.form-group.form-field.form-output(style="margin-bottom: 1em;")
					p.form-control.output(style="padding-bottom: unset; margin-top: 0px;")
						|&nbsp;
					small#smal-output
						|&nbsp;
				.form-group.form-field
					label.cursor-pointer
						input.form-control(type="checkbox" name="action")
						span
							|&nbsp; я являюсь новосёлом и/или пенсионером
				.form-group.form-field.text-center.form-buttons
					button.btn.btn-default(type="submit")
						|ОТПРАВИТЬ
					button.btn.btn-default(type="reset")
						|СБРОСИТЬ
					p.text-center(style="margin-top: 0.7em;")
						small
							|Отправляя форму Вы соглашаетесь с&nbsp;
							a(href="[~31~]" target="_blank" rel="nofollow")
								|Политикой конфиденциальности.
