section#contacts.container.article--body.hyphenation
	header.article--header
		.article--header--title
			h2.text-center
				|СВЯЖИТЕСЬ С НАМИ
				span
					|контактная информация
	.article--body--tex.map
		#map
	.article--body--text.hyphenation