footer.footer.container-full
	.row
		.container
			.footer--list
				p
					|Следите за нами:
				ul.social--list
					li.social--list--item
						p
							a(href="https://vk.com/vashpotolok72" title="ВКонтакте" target="_blank")
								i.icon-icon46
					li.social--list--item
						p
							a(href="https://www.instagram.com/vip_potolok72/" title="Instagram" target="_blank")
								i.icon-icon48
					li.social--list--item
						p
							a(href!="[!getFullUrl? &id=`8`!]" title="RSS-лента" target="_blank")
								i.icon-icon36
		.container
			.footer--flex
				.footer--column.left
					|&copy;  
					span(style="text-transform: uppercase;")
						|[!$_SERVER['REQUEST_TIME']:dateFormat('Y')!] &nbsp; [[Punycode? &input=`[!$_SERVER['HTTP_HOST']!]` &domain=`1`]]
				.footer--column.right
					|Является зарегистрированной торговой маркой. Не является публичной офертой.
					br
					|Копирование материалов или элементов сайта - незаконно и преследуется УК РФ
		.container.develop
			p.developer
				|Developed by: &nbsp;
				a(href="https://projectsoft.ru/" target="_blank")
					|ProjectSoft © 2000 - [!$_SERVER['REQUEST_TIME']:dateFormat('Y')!]
