footer.footer.container-full
	.row
		.container
			.footer--flex
				.footer--column.left
					|&copy;  
					span(style="text-transform: uppercase;")
						|[!$_SERVER['REQUEST_TIME']:dateFormat('Y')!] &nbsp; [[Punycode? &input=`[!$_SERVER['HTTP_HOST']!]` &domain=`1`]]
				.footer--column.right
					|Является зарегистрированной торговой маркой. Не является публичной офертой.
					br
					|Копирование материалов или элементов сайта - незаконно и преследуется УК РФ