div.formzamer.formsender(style="display: none;")
	h5.text-center
		|ВЫЗОВ ЗАМЕРЩИКА
	|[+form.messages+]
	form#zamer_potolok.form(method="post")
		input(type="hidden" name="formid" value="zamer")
		input(type="hidden" value="[+url.value+]" name="url")
		div
			.form-group.form-field
				input.form-control(type="text" placeholder="Тема" name="theme" value="Вызов замерщика" autocomplete="off")
				label
					|Тема
			.form-group.form-field
				input.form-control(type="text" placeholder="Фамилия" name="last_name" value="[+last_name.value+]" autocomplete="off")
				label
					|Фамилия
			.form-group.form-field
				input.form-control(type="text" name="first_name" placeholder="Имя" value="[+first_name.value+]" autocomplete="off")
				label
					|Имя
			.form-group.form-field
				input.form-control(type="text" name="phone" placeholder="Телефон" value="[+phone.value+]" autocomplete="off")
				label
					|Телефон
			.form-group.form-field.text-center
				button.btn.btn-default(type="submit")
					|ОТПРАВИТЬ
			small.text-center
				|Отправляя форму Вы соглашаетесь с&nbsp;
				a(href="[~31~]" target="_blank" rel="nofollow") Политикой конфиденциальности.
