|<!--InitFormCallme-->
|[!FormLister?
|	&controller=`Form`
|	&formid=`callme`
|	&config=`callme:/comon/json`
|!]
|<!--FormCallme-->
|<!--InitFormZamer-->
|[!FormLister?
|	&controller=`Form`
|	&formid=`zamer`
|	&config=`zamer:/comon/json`
|!]
|<!--FormZamer-->