header.container-full.header
	.row.header--row
		.header--row-left.text-right
			p
				|(3452)743-043
				br
				|(3452)42-88-76
		.header--row-center
		.header--row-right.text-left
			p
				span.text-center.inline-block
					|Изменим Ваш потолок
					br
					|к лучшему
	.row.header--nav
		.container
			.navigation
				.navigation--button
					.nav-btn
						include menu_btn.svg
				.navigation--wrapper
					nav
						|[[DLMenu?
						|	&parents=`0`
						|	&maxDepth=`1`
						|	&showParent=`0`
						|	&urlScheme=`full`
						|	&ownerTPL=`@CODE: <ul>[+dl.wrap+]</ul>`
						|	&rowTpl=`@CODE: <li><a href="[+url+]"[+classes+] [+link_attributes+]>[+title+]</a></li>`
						|	&rowHereTpl=`@CODE: <li><span[+classes+]>[+title+]</span></li>`
						|	&rowClass=``
						|	&firstClass=``
						|	&lastClass=``
						|	&levelClass=``
						|	&webLinkClass=``
						|	&parentClass=``
						|	&hereClass=`active`
						|	&activeClass=`active`
						|	&oddClass=``
						|	&evenClass=``
						|	&debug=`[(debug)]`
						|]]
	|<@IF:[*parent:isnot(0)*]>
	|[[DLCrumbs? &showCurrent=`1`]]
	|<@ENDIF>