section#news.container.article--body.hyphenation
	header.article--header
		.article--header--title
			h2.text-center
				|НОВОСТИ
				span
					|акции, статьи, новости нашей компании
	.article--body--text.hyphenation
		section.news
			|[+dl.wrap+]
