article.container.article--body.hyphenation
	header.article--header
		.article--header--title
			h1
				|[*pagetitle*]
	|<@IF:[*content:isNotEmpty*]>
	.article--body--text.hyphenation.text-justify
		|[*content*]
	|<@ENDIF>