div(id="[+alias+]" class="gallery--flex--item")
	a(data-work="[+json+]" href!="javascript:;" class="gallery--flex--item--link")
		img(src="[+image+]" alt="[+pagetitle+]" class="gallery--flex--item--image" onload="onLoadImg(this)")
	p.text-center
		|[+pagetitle+]
