/LICENSE.md
/.htaccess
/.*
/index.php
*-lock.json
*.*-workspace
/ftp.json
/*.txt
/*.lock
/*.png
/*.ico
/*.svg
/*.webmanifest
/*.xml
/.github
assets/*.*
assets/.thumbs
assets/backup
assets/cache
assets/docs
assets/export
assets/files
assets/images
assets/import
assets/js
assets/lib
assets/plugins
assets/site
assets/snippets
assets/templates

assets/vendor
manager/*
node_modules/*
test/*
tests/*
vendor/*
bower_components/*
src/packages

assets/tvs/*.*

assets/tvs/pagebuilder
assets/tvs/placetv
assets/tvs/ymap

assets/tvs/multitv/*.*
assets/tvs/multitv/buttons
assets/tvs/multitv/css
assets/tvs/multitv/dittoExtender
assets/tvs/multitv/docs
assets/tvs/multitv/includes
assets/tvs/multitv/js
assets/tvs/multitv/languages
assets/tvs/multitv/moduleconfigs
assets/tvs/multitv/phx-modifier
assets/tvs/multitv/processors
assets/tvs/multitv/settings
assets/tvs/multitv/templates

assets/tvs/multitv/configs/*

assets/modules/*.*
assets/modules/.*
assets/modules/docmanager
assets/modules/store
assets/modules/clientsettings/core
assets/modules/clientsettings/config/*

!assets/tvs/multitv/configs/cause.config.inc.php
!assets/tvs/multitv/configs/gallery.config.inc.php
!assets/modules/clientsettings/config/*.php
