/.htaccess
/index.php
*-lock.json
*.*-workspace
/ftp.json
/*.txt
/*.lock
/*.png
/*.ico
/*.svg
/*.webmanifest
/*.xml
/.github
assets/*.*
assets/.thumbs
assets/backup
assets/cache
assets/docs
assets/export
assets/files
assets/images
assets/import
assets/js
assets/lib
assets/modules
assets/plugins
assets/site
assets/snippets
assets/templates/*.*
assets/templates/projectsoft
assets/tvs/*.*
assets/vendor
manager/*
node_modules/*
test/*
tests/*
vendor/*