.ballon {
	background-color: #fff;
	padding: 17px;
	padding-right: 2em;
	position: relative;
	border: 1px solid #d8d8da;
	text-align: left!important;
	margin-left: 45px;
	margin-top: -58px;
	max-width: 315px;
	width: 100vw;
	user-select: none;
	&::after,
	&::before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		//content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&::before {
		border-color: transparent;
		border-right-color: #d8d8da;
		border-width: 18px;
		margin-top: -18px;
	}
	&::after {
		border-color: transparent;
		border-right-color: #fff;
		border-width: 16px;
		margin-top: -16px;
	}
	* {
		font-family: @fontfamily;
	}
	&__close {
		position: absolute;
		right: 6px;
		top: 6px;
		cursor: pointer;
		font-size: 1em;
		&::before {
			.mixglyph();
			content: @icon-icon58;
		}
	}
	&__buttons {
		.ballon-btn {
			width: 100%;
		}
	}
	&__entry {
		font-size: 16px;
	}
	.entry {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 7px;
		&::before {
			content: "";
			display: block;
			margin-right: 10px;
			width: 16px;
			height: 16px;
			background-image: data-uri('base64/entity.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	@media(max-width: 578px){
		margin-top: unset;
		margin-left: unset;
		max-width: unset;
		width: auto;
		border: unset;
		padding: 5px;
		&::before,
		&::after,
		&__close {
			display: none;
		}
	}
}
[class*="-gotoymaps"],
[class^="-gotoymaps"],
[class*="-gototaxi"],
[class^="-gototaxi"] {
	display: none !important;
}
body[class^="-fullscreen"],
body[class*="-fullscreen"] {
	@media(max-width: 578px){
		.ballon {
			background-color: #fff;
			padding: 17px;
			padding-right: 2em;
			position: relative;
			border: 1px solid #d8d8da;
			text-align: left!important;
			margin-left: 45px;
			margin-top: -58px;
			max-width: 240px;
			width: 240px;
			user-select: none;
			&__close {
				position: absolute;
				right: 6px;
				top: 6px;
				cursor: pointer;
				font-size: 1em;
				&::before {
					.mixglyph();
					content: @icon-icon58;
				}
			}
		}
	}
}
