.formsender {
	.form-field {
		&:nth-child(1),
		&:nth-child(2) {
			display: none;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		margin-top: unset;
	}
}

.formsender {
	user-select: none;
	&.fancybox-content {
		&.loading {
			&::after {
				display: block;
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				min-width: 100%;
				width: 100%;
				min-height: 100%;
				height: 100%;
				background-position: center center;
				background-size: 50% 50%;
				background-repeat: no-repeat;
				background-image: data-uri('base64/loading.svg');
				background-color: white;
				z-index: 500;
			}
		}
	}
}
.form {
	&-group {
		margin-bottom: 1.3em;
		position: relative;
	}
	&-control {
		display: block;
		width: 100%;
		padding-left: @padding + 7;
		padding-right: @padding + 7;
		padding-top: 0.6em;
		padding-bottom: 0.6em;
		line-height: 1.5em;
		margin-top: 0.3em;
		appearance: none;
		border: unset;
		box-shadow: 0 0 1px 1px var(--selection-bg);
		border-radius: 0.2em;
		outline: unset !important;
		user-select: auto;
		&::placeholder {
			color: transparent !important;
			user-select: none !important;
		}
		~ label {
			pointer-events: none;
			position: absolute;
			left: @padding;
			background-color: transparent;
			padding: 0 7px;
			color: #888;
			top: 1em;
			transition: all .3s ease;
			font-size: 0.8em;
			user-select: none !important;
		}
		&:focus,
		&:not(:placeholder-shown) {
			~ label {
				background-color: #fff;
				top: -0.7em;
				color: var(--color2);
				font-weight: 600;
			}
		}
	}
}
