.formcallme {
	#callme_potolok {
		.form-field {
			&:nth-child(1),
			&:nth-child(2) {
				display: none;
			}
		}
	}
}
.form {
	&-group {
		margin-bottom: 1em;
	}
	&-control {
		display: block;
		width: 100%;
	}
}
