.header {
	position: relative;
	&--buttons {
		position: fixed;
		top: 0;
		right: 0;
		max-width: 100%;
		padding-left: @padding;
		padding-right: @padding;
		z-index: 10;
		.text-right();
		.btn-default {
			box-shadow: 0 0 0px 1px #fff;
		}
		&--wrapp {
			display: inline-block;
			padding: var(--padding);
			background-color: rgba(103, 175, 65, .43);
			border-radius: 0.4em;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			.text-center();
			button {
				margin-left: .5em;
				transition: background-color .3s ease, color .3s ease;
				&:first-child {
					margin-left: unset;
				}
			}
			@media (max-width: 422px)
			{
				display: flex;
				flex-direction: column;
				button {
					margin-left: .5em;
					margin-right: .5em;
					&:first-child {
						margin-left: .5em;
						margin-bottom: 0.5em;
					}
				}
			}
		}
		@media (max-width: 370px) {
			padding-left: unset;
			padding-right: unset;
		}
	}
	&--bg {
		background: rgb(103, 175, 65);
		background: linear-gradient(90deg, var(--color1) 0%, var(--color1) 50%, var(--color2) 50%, var(--color2) 100%);
		/*background-repeat: repeat-y;
		background-position: center center;
		background-size: 100% 100%;*/
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		z-index: 0;
		/*.left,
		.right {
			content: "";
			display: block;
			position: absolute;
			top: 0px;
			bottom: 0px;
			z-index: 1;
			width: 50%;
			height: 100%;
		}
		.left {
			left: 0px;
			background-color: var(--color1);
		}
		.right {
			right: 0px;
			background-color: var(--color2);
		}*/
	}
	&--row {
		aspect-ratio: 191 / 66;
		background-image: url('@{imagepath}/logo-mob.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		max-height: 250px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		z-index: 3;
		&-center {
			aspect-ratio: 1.2 / 1;
			height: 100%;
		}
		&-left,
		&-right {
			color: #ffffff;
			flex: 1;
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&-left {
			line-height: 1.4;
			font-size: 1.5em;
			padding-left: var(--padding);
			p span.block {
				display: block;
			}
		}
		&-right {
			font-size: 1.19em;
			line-height: 1.6;
			padding-right: var(--padding);
		}
		@media(max-width: 490px) {
			&-left,
			&-right {
				display: none;
			}
		}
		@media(max-width: 680px) {
			&-left {
				 font-size: 0.8em;
				line-height: 1.4;
			}
			&-right {
				font-size: 0.8em;
				line-height: 1.1;
			}
		}
		@media(max-width: 742px) {
			aspect-ratio: 566 / 250;
			background-image: url('@{imagepath}/logo-mob.png'), url('@{imagepath}/line.png');
		}
		@media(max-width: 566px) {
			background-size: cover, auto;
		}
	}
	&--nav {

	}
}
header {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		.text-center();
		@media(max-width: 590px) {
			.text-left();
		}
	}
}
