.header {
	&--row {
		aspect-ratio: 191 / 66;
		background-image: url('@{imagepath}/logo.png'), linear-gradient(to right, @color1 0%, @color1 50%, @color2 50.01%, @color2 100%);
		background-repeat: no-repeat, no-repeat;
		background-position: center center, center center;
		background-size: contain, auto;
		max-height: 250px;
		width: ~'calc(100% + 30px)';
	}
	&--nav {

	}
}