doctype html
html(lang="ru")
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		|{{@FILE assets/templates/projectsoft/html/tpl/header.html}}
		main.container-full.article
			.row
				article.container.article--body.hyphenation
					header.article--header
						.article--header--title
							h1
								|[[alterTitle]]
					|<@IF:[*content:isNotEmpty*]>
					.article--body--text.hyphenation.text-justify
						|[*content*]
					|<@ENDIF>
				// КОНТАКТЫ и КАРТА
				|{{@FILE assets/templates/projectsoft/html/tpl/contacts.html}}
		|{{@FILE assets/templates/projectsoft/html/tpl/footer.html}}
		|{{@FILE assets/templates/projectsoft/html/tpl/forms.html}}
		|{{@FILE assets/templates/projectsoft/html/tpl/body_after.html}}
