doctype html
html(lang="ru")
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		|{{@FILE assets/templates/projectsoft/html/tpl/header.html}}
		main.container-full
			.row
				.container
					|[*content*]
		|{{@FILE assets/templates/projectsoft/html/tpl/footer.html}}
		|{{@FILE assets/templates/projectsoft/html/tpl/body_after.html}}