doctype html
html(lang="ru")
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		|{{@FILE assets/templates/projectsoft/html/tpl/header.html}}
		main.container-full.article
			.row
				|<@IF:[*content:isNotEmpty*]>
				article.container.article--body.hyphenation
					.article--body--text.hyphenation
						|[*content*]
				|<@ENDIF>
				section#actions.container.article--body.hyphenation
					header.article--header
						.article--header--title
							h2.text-center
								|АКЦИИ
					.article--body--text.hyphenation
						|Вывод Акций
						.countdown(data-days="5")
				section#calculation.container.article--body.hyphenation
					header.article--header
						.article--header--title
							h2.text-center
								|РАССЧИТАЙТЕ СТОИМОСТЬ ВАШЕГО ПОТОЛКА
					.article--body--text.hyphenation
						|Вывод Калькулятора
				section.container.article--body.hyphenation
					header.article--header
						.article--header--title
							h2.text-center
								|ПЯТЬ ПРИЧИН РАБОТАТЬ С НАМИ
								span
									|почему выбирают нашу компанию
					.article--body--text.hyphenation
						.row
							.cause
								.cause--item
									.cause--item--wrap
										p
											i.ceiling-cause01
										p
											|Мы устанавливаем только сертифицированную пвх-пленку, полностью безопасную для вашего здоровья. Широкий ассортимент цветов и фактур позволит подобрать потолок именно для вас! А гарпунная система монтажа позволяет добиться оптимальной степени натяжки и делает наши потолки удобными при сервисном обслуживании (ремонте, сливе воды).
								.cause--item
									.cause--item--wrap
										p
											i.ceiling-cause02
										p
											|Мы предлагаем вам оптимальную систему оплаты: 50 % при заключении договора, 50% после установки. Также вы можете оформить договор рассрочки (без процентов и без банков), в этом случае предоплата составит 25% от суммы договора.
								.cause--item
									.cause--item--wrap
										p
											i.ceiling-cause03
										p
											|Наши монтажники работают у нас с момента основания фирмы. За это время они накопили огромный опыт по установке самых разных потолков. Мы ставим классические одноуровневые потолки, двухуровневые потолки без гипсокартона, потолки на мансардах и скатных крышах, конструкции самой разной формы и назначения.
								.cause--item
									.cause--item--wrap
										p
											i.ceiling-cause05
										p
											|Каждая монтажная бригада оснащена полимерно-композитными газовыми баллонами нового поколения. Эти баллоны в разы более взрывобезопасные, чем привычные металлические. Также все наши монтажники в свое время прошли необходимое обучение по работе с газовым оборудованием.
								.cause--item
									.cause--item--wrap
										p
											i.ceiling-cause07
										p
											|Гарантия на наши полотна составляет 10 лет, на монтажные работы - 2 года. Если у вас возник вопрос или проблема, связанная с нашими потолками, мы разрешим ее в кратчайшие сроки.
				section#reviews.container.article--body.hyphenation
					|[[DocLister?
					|	&parents=`22`
					|	&display=`4`
					|	&tvPrefix=``
					|	&tvList=`imageSoc, news_date`
					|	&tvPrefix=``
					|	&orderBy=`news_date DESC`
					|	&sortBy=`news_date`
					|	&sortDir=`DESC`
					|	&tvSortType=`TVDATETIME`
					|	&urlScheme=`full`
					|	&tpl=`@FILE:projectsoft/html/tpl/review_slick`
					|	&prepare=`\ProjectSoft\PrepareDL::prepareItem`
					|	&ownerTPL=`@CODE:
					|<header class="article--header review-slider">
					|	<div class="article--header--title">
					|		<h2 class="text-center">ОТЗЫВЫ<span>почему выбирают нас</span></h2>
					|	</div>
					|</header>
					|<div class="row article--body--text hyphenation">
					|	<div class="review-slider--wrap">
					|		[+dl.wrap+]
					|	</div>
					|</div>`
					|]]
				section#work.container.article--body.hyphenation
					|[[DocLister?
					|	&parents=`3`
					|	&display=`4`
					|	&tvPrefix=``
					|	&tvList=`imageSoc, news_date`
					|	&tvPrefix=``
					|	&orderBy=`news_date DESC`
					|	&sortBy=`news_date`
					|	&sortDir=`DESC`
					|	&tvSortType=`TVDATETIME`
					|	&urlScheme=`full`
					|	&prepare=`\ProjectSoft\PrepareDL::prepareWork`
					|	&tpl=`@FILE:projectsoft/html/tpl/work_tpl`
					|	&ownerTPL=`@CODE:
					|<header class="article--header review-slider">
					|	<div class="article--header--title">
					|		<h2 class="text-center">НАШИ РАБОТЫ</h2>
					|	</div>
					|</header>
					|<div class="gallery">
					|	<div class="row">
					|		<div class="gallery--flex">
					|			[+dl.wrap+]
					|		</div>
					|	</div>
					|</div>`
					|]]
				section#catalog.container.article--body.hyphenation
					header.article--header
						.article--header--title
							h2.text-center
								|КАТАЛОГ
					.article--body--text.hyphenation
						|Вывод каталога
				section#news.container.article--body.hyphenation
					header.article--header
						.article--header--title
							h2.text-center
								|НОВОСТИ
								span
									|новости нашей компании
					.article--body--text.hyphenation
						|[[DocLister?
						|	&parents=`2`
						|	&display=`4`
						|	&tvList=`imageSoc, news_date, news_person`
						|	&tvPrefix=``
						|	&orderBy=`news_date DESC`
						|	&sortBy=`news_date`
						|	&sortDir=`DESC`
						|	&tvSortType=`TVDATETIME`
						|	&noneTPL=`@CODE:<span></span>`
						|	&debug=`[(debug)]`
						|	&showParent=`0`
						|	&urlScheme=`full`
						|	&noneWrapOuter=`0`
						|	&ownerTPL=`@FILE:projectsoft/html/tpl/news`
						|	&tpl=`@FILE:projectsoft/html/tpl/news_tpl`
						|	&prepare=`\ProjectSoft\PrepareDL::prepareItem`
						|]]
				section#contacts.container.article--body.hyphenation
					header.article--header
						.article--header--title
							h2.text-center
								|СВЯЖИТЕСЬ С НАМИ
								span
									|контактная информация
					.article--body--tex.map
						#map
					.article--body--text.hyphenation
		|{{@FILE assets/templates/projectsoft/html/tpl/footer.html}}
		|{{@FILE assets/templates/projectsoft/html/tpl/forms.html}}
		|{{@FILE assets/templates/projectsoft/html/tpl/body_after.html}}
