doctype html
html(lang="ru")
	|{{@FILE assets/templates/projectsoft/html/tpl/head.html}}
	body
		|{{@FILE assets/templates/projectsoft/html/tpl/header.html}}
		main.container-full.article
			.row
				|{{@FILE assets/templates/projectsoft/html/tpl/actions_slider.html}}
				// КАЛЬКУЛЯТОР
				section#calculation.container.article--body.hyphenation
					header.article--header
						.article--header--title
							h2.text-center
								|РАССЧИТАЙТЕ СТОИМОСТЬ ВАШЕГО ПОТОЛКА
					.article--body--text.hyphenation
						|Вывод Калькулятора
						|{{@FILE assets/templates/projectsoft/html/tpl/calculator.html}}
				// ПРИЧИНЫ ВЫБОРА
				section.container.article--body.hyphenation
					header.article--header
						.article--header--title
							h2.text-center
								|ПЯТЬ ПРИЧИН РАБОТАТЬ С НАМИ
								span
									|почему выбирают нашу компанию
					|[[multiTV?
					|	&docid=`1`
					|	&tvName=`cause`
					|	&display=`all`
					|	&emptyOutput=`1`
					|	&noResults=``
					|]]
				// ОТЗЫВЫ
				section#reviews.container.article--body.hyphenation
					|[[DocLister?
					|	&parents=`22`
					|	&display=`4`
					|	&tvPrefix=``
					|	&tvList=`imageSoc, news_date`
					|	&tvPrefix=``
					|	&orderBy=`news_date DESC`
					|	&sortBy=`news_date`
					|	&sortDir=`DESC`
					|	&tvSortType=`TVDATETIME`
					|	&urlScheme=`full`
					|	&tpl=`@FILE:projectsoft/html/tpl/review_slick`
					|	&prepare=`\ProjectSoft\PrepareDL::prepareItem`
					|	&ownerTPL=`@CODE:
					|<header class="article--header review-slider">
					|	<div class="article--header--title">
					|		<h2 class="text-center">ОТЗЫВЫ<span>почему выбирают нас</span></h2>
					|	</div>
					|</header>
					|<div class="row article--body--text hyphenation">
					|	<div class="review-slider--wrap">
					|		[+dl.wrap+]
					|	</div>
					|</div>`
					|	&noneWrapOuter=`0`
					|	&noneTPL=`@CODE:<span></span>`
					|]]
				// НАШИ РАБОТЫ
				section#work.container.article--body.hyphenation
					|[[DocLister?
					|	&parents=`3`
					|	&display=`0`
					|	&tvPrefix=``
					|	&tvList=`imageSoc, news_date`
					|	&tvPrefix=``
					|	&orderBy=`menuindex ASC`
					|	&sortBy=`menuindex`
					|	&sortDir=`ASC`
					|	&urlScheme=`full`
					|	&prepare=`\ProjectSoft\PrepareDLCeiling72::prepareWork`
					|	&tpl=`@FILE:projectsoft/html/tpl/work_tpl`
					|	&ownerTPL=`@CODE:
					|<header class="article--header review-slider">
					|	<div class="article--header--title">
					|		<h2 class="text-center">НАШИ РАБОТЫ</h2>
					|	</div>
					|</header>
					|<div class="gallery">
					|	<div class="row">
					|		<div class="gallery--flex">
					|			[+dl.wrap+]
					|		</div>
					|	</div>
					|</div>`
					|	&noneWrapOuter=`0`
					|	&noneTPL=`@CODE:<span></span>`
					|]]
				// КАТАЛОГ
				section#catalog.container.article--body.hyphenation
					|[[DocLister?
					|	&parents=`23`
					|	&display=`4`
					|	&tvPrefix=``
					|	&tvList=`imageSoc, news_date`
					|	&tvPrefix=``
					|	&orderBy=`news_date DESC`
					|	&sortBy=`news_date`
					|	&sortDir=`DESC`
					|	&tvSortType=`TVDATETIME`
					|	&urlScheme=`full`
					|	&prepare=`\ProjectSoft\PrepareDLCeiling72::prepareWork`
					|	&tpl=`@FILE:projectsoft/html/tpl/work_tpl`
					|	&ownerTPL=`@CODE:
					|<header class="article--header review-slider">
					|	<div class="article--header--title">
					|		<h2 class="text-center">КАТАЛОГ</h2>
					|	</div>
					|</header>
					|<div class="article--body--text.hyphenation">
					|	[+dl.wrap+]
					|</div>`
					|	&noneWrapOuter=`0`
					|	&noneTPL=`@CODE:<span></span>`
					|]]
				// НОВОСТИ
				section#news.container.article--body.hyphenation
					|[[DocLister?
					|	&parents=`2`
					|	&display=`5`
					|	&tvList=`imageSoc, news_date, news_person`
					|	&tvPrefix=``
					|	&orderBy=`news_date DESC`
					|	&sortBy=`news_date`
					|	&sortDir=`DESC`
					|	&tvSortType=`TVDATETIME`
					|	&noneTPL=`@CODE:<span></span>`
					|	&debug=`[(debug)]`
					|	&showParent=`0`
					|	&urlScheme=`full`
					|	&noneWrapOuter=`0`
					|	&ownerTPL=`@FILE:projectsoft/html/tpl/news`
					|	&tpl=`@FILE:projectsoft/html/tpl/news_tpl`
					|	&prepare=`\ProjectSoft\PrepareDL::prepareItem`
					|]]
				// КОНТАКТЫ и КАРТА
				|{{@FILE assets/templates/projectsoft/html/tpl/contacts.html}}
		|{{@FILE assets/templates/projectsoft/html/tpl/footer.html}}
		|{{@FILE assets/templates/projectsoft/html/tpl/forms.html}}
		|{{@FILE assets/templates/projectsoft/html/tpl/body_after.html}}
